body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #183147, #237474);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


div[ng-controller="logincon"] {
    background: rgb(215, 206, 254);
    padding: 40px 30px;
    border-radius: 15px;
    width: 320px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h2 {
    font-size: 20px;
    margin: 20px 0 5px;
    text-align: left;
    font-weight: bold;
}


input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: none;
    background: #eee;
    outline: none;
    box-sizing: border-box;
}

input:focus {
    border: 2px solid #4facfe;
}

button {
    width: 100%;
    padding: 12px;
    background: #3b4b59;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background: #00c6ff;
}


.error {
    margin-top: 15px;
    color: red;
    font-size: 14px;
    text-align: center;
}